<table>
    <thead>
        <tr>
            <th>Section</th>
            <th>Stage</th>
            <th>Group</th>
            <th>Assigned technical writer</th>
        </tr>
    </thead>
    <tbody>
        {{- range (sort site.Data.public.stages.stages "section") }}
        {{- $section := .section }}
        {{- $display_name := .display_name}}
        {{- range .groups }}
        <tr>
            <td><a href="{{ ref page (printf "/handbook/product/categories#%s-section" $section) }}">{{ $section }}</a></td>
            <td><a href="{{ ref page (printf "/handbook/product/categories#%s-stage" (lower $display_name)) }}">{{ $display_name }}</a></td>
            <td><a href="{{ ref page (printf "/handbook/product/categories#%s-group" (anchorize .name)) }}">{{ .name }}</a></td>
            <td>
                {{- with .tech_writer -}}
                    {{- if reflect.IsSlice . -}}
                        {{- range . -}}
                            {{- if hasPrefix . "#" -}}
                                <img src="/images/slack-mark.png" style="padding:4px" alt="Slack Logo" class="avatar" height="40" width="40"> {{ . }}
                            {{- else -}}
                                <div class="mb-2">
                                {{- with (index (where site.Data.public.team "name" "eq" .) 0) }}
                                {{- partial "member/with-team-link" . }}<br>
                                {{- else }}
                                <span class="not-found" style="white-space: nowrap;"><img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="40" height="40" alt="{{ . }}">{{.}}</span><br>
                                {{- end }}
                                </div>
                            {{- end -}}
                        {{- end -}}
                    {{- else -}}
                        {{- if hasPrefix . "#" }}
                            <img src="/images/slack-mark.png" style="padding:4px" alt="Slack Logo" class="avatar" height="40" width="40"> {{ . }}
                        {{- else }}
                            {{- with (index (where site.Data.public.team "name" "eq" .) 0) }}
                            {{- partial "member/with-team-link" . }}
                            {{- else }}
                                <span class="not-found" style="white-space: nowrap;"><img class="avatar" src="https://about.gitlab.com/images/gitlab-logo-extra-whitespace.png" width="40" height="40" alt="{{ . }}">{{.}}</span>
                            {{- end }}
                        {{- end }}
                    {{- end }}
                {{- end }}
            </td>
        </tr>
        {{- end }}
        {{- end }}
    </tbody>
</table>
